@-webkit-keyframes typing {
    from { width: 100%; }
    to { width:0;  }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #07D6FF }
}

@-moz-keyframes typing {
    from { width: 100% }
    to { width:0 }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #07D6FF }
}

h1 { 
    position: relative; 
    float: left;
    font-size:350%;
    font-family: Inconsolata, Courier, monospace;
}

h1 span {
    position:absolute;
    top:0;
    right:0;
    width:0;
    background: #fff; /* same as background */
    border-left: .1em solid #07D6FF;
    
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    -webkit-animation: typing 10s steps(10, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
    -moz-animation: typing 10s steps(10, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
}